*{
    font-family: sans-serif;
    margin:0;
    padding: 0;
}


body::before{
    content: "";
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 0px;
    position: absolute;
    z-index: -1;
   

    background: url("../static/image2.jpg") no-repeat center center;

    
}

nav{
    padding:12px 12px;
    background-color:black;
}
ul{
    display: flex;
   
    
    
}

li{
    
    flex-direction: row;
    margin: auto;
    font-size: 1.25rem;
    justify-content: space-between;
    list-style-type: none;
    height: auto;
    
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h2{
    text-align: center;
    color: black;
}
.container{
    
    
    width: 70%;
    margin: auto;
    margin-top:12px;
}
form{
    display: flex;
    flex-direction: column;
    
    
    
}

input{
    display: block;
    width: 80%;
    border: solid black 2px;
    margin: auto;
    justify-content: space-around;
    margin-top: 15px;
    height: 2rem;
    border-radius: 7px;
    padding-left: 3px;
    background-color: beige;
}

textarea{
    display: block;
    width: 80%;
    outline:none;
    border: solid black 2px;
    margin: auto;
    justify-content: space-around;
    margin-top: 10px;
    background-color: beige;
    border-radius: 7px;
    padding-top:5px;
    padding-left: 3px;

}
.btn{
    
    
    margin: auto;
    margin-top: 15px;
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background-color: red;
    font-size: 1.3rem;
    color: white;
    outline: none;
}
.btn:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}